{% extends "base.html" %}

{% block content %}
<div class="contact-container">
  <h2>Contact Information</h2>
  <p>Company Name: Hawala Ltd</p>
  <p>Address: Stora Nygatan 1, Stockholm, Sweden</p>
  <p>Phone Number: 0722334455</p>
</div>
{% endblock %}
