body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

h1 {
  color: #333;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="tel"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Additional styles for dashboard */

.dashboard-container {
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-header {
  margin-bottom: 20px;
}

.dashboard-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashboard-message {
  color: #666;
  font-size: 16px;
}

.dashboard-form {
  margin-top: 20px;
}

.dashboard-select {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.dashboard-submit {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

